converters.py
dice.py
minus.py
Python-Cheat-Sheet.pdf
pythonTutorial.py
tempCodeRunnerFile.py
utils.py
__pycache__/dice.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
transactions2.xlsx
transactions.xlsx
__pycache__/converters.cpython-311.pyc
ecommerce/__init__.py
ecommerce/shipping.py
ecommerce/__pycache__/__init__.cpython-311.pyc
ecommerce/__pycache__/shipping.cpython-311.pyc
